* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}



body {
        background-color: slategray;
        font-size: 15pt;
}

#browser {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        width: 99vw;
        margin-top: 10px;
        color: midnightblue;
        display:none;

}

#browsers {
        border: none;
        outline: none;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10vw;
        margin-top: 20px;
        border-radius: 5px;
        padding: 10px;
        background-color: azure;

}

#submit {
        width:90vw;
        border: none;
        outline: none;
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 10vw;
        background-color: transparent;
        text-shadow: 2px 3px 4px black;
        color: lawngreen;
        

}

option {
        color: red;
        background-color: grey;
}

#country {
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        width: 70vw;
        font-size: 35px;
        background-color: cornsilk;
        border: none;
        border-radius: 5px;
        outline: none;

}

#total {
        color: red;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        width: 70vw;
        font-size: 30px;
        border: none;
        border-radius: 5px;
        outline: none;
        font-weight: 500;
}

#death {
        color: red;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        width: 70vw;
        font-size: 30px;
        border: none;
        border-radius: 5px;
        outline: none;
        font-weight: 400;
}

#recovered {
        color: darkgreen;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        width: 70vw;
        font-size: 25px;
        border: none;
        border-radius: 5px;
        outline: none;
        font-weight: 700;
}

#critical {
        color: slateblue;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        width: 70vw;
        font-size: 28px;
        border: none;
        border-radius: 5px;
        outline: none;
}

#lastUpdate {
        color: cornflowerblue;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        width: 70vw;
        font-size: 19px;
        border: none;
        border-radius: 5px;
        outline: none;
}

table {
        border: none;
        margin-top: 20px;
}

td {
        background-color: aliceblue;
        font-size: 20px;
        margin-bottom: 15px;
        padding-left: 5px;



}
